## 2015-2019
Rotterdam Marathom now use a site sporthive.com for the data. The table calls an API which can get a max of 50 values each query.

In [11]:
import pandas as pd
import pyreadr

In [2]:
## make the data copied from sporthive.com
# 2019 6509035005995656960/races/450996
# 2018 6386505967023513344/races/419161

import requests
from time import sleep
import csv

req = requests.session()

ongoing = True
url = 'https://eventresults-api.sporthive.com/api/events/6386505967023513344/races/419161/classifications/search?count=50&offset={offset}'
offset = 0
data = []
while ongoing:
    quinquagintuplet = req.get(url.format(offset=offset)).json()
    data.extend(quinquagintuplet['fullClassifications'])
    newbies = len(quinquagintuplet['fullClassifications'])
    if newbies != 50:
        ongoing == False
        break
    offset += newbies
    sleep(0.5)
    print(len(data))

neodata = [{k: d['classification'][k] for k in d['classification'] if k not in ('splits',)} for d in data]

with open('2019.csv','w', newline='') as fh:
    w = csv.DictWriter(fh, fieldnames=list(neodata[1].keys()), extrasaction='ignore')
    w.writeheader()
    w.writerows(neodata)

50
100
150
200
250
300
350
400
450
500
550
600
650
700
750
800
850
900
950
1000
1050
1100
1150
1200
1250
1300
1350
1400
1450
1500
1550
1600
1650
1700
1750
1800
1850
1900
1950
2000
2050
2100
2150
2200
2250
2300
2350
2400
2450
2500
2550
2600
2650
2700
2750
2800
2850
2900
2950
3000
3050
3100
3150
3200
3250
3300
3350
3400
3450
3500
3550
3600
3650
3700
3750
3800
3850
3900
3950
4000
4050
4100
4150
4200
4250
4300
4350
4400
4450
4500
4550
4600
4650
4700
4750
4800
4850
4900
4950
5000
5050
5100
5150
5200
5250
5300
5350
5400
5450
5500
5550
5600
5650
5700
5750
5800
5850
5900
5950
6000
6050
6100
6150
6200
6250
6300
6350
6400
6450
6500
6550
6600
6650
6700
6750
6800
6850
6900
6950
7000
7050
7100
7150
7200
7250
7300
7350
7400
7450
7500
7550
7600
7650
7700
7750
7800
7850
7900
7950
8000
8050
8100
8150
8200
8250
8300
8350
8400
8450
8500
8550
8600
8650
8700
8750
8800
8850
8900
8950
9000
9050
9100
9150
9200
9250
9300
9350
9400
9450
9500
9550
9600
9650
9700
9750
9800
9850
9900
9950
10000
10050
10100
10150
10200
10250
10300
10350
10400
10450
10500
10550
10600
10650
10700
10750
10800
10850
10900
10950
11000
11050
11100
11150
11200
11250
11300
11350
11400
11450
11500
11550
11600
11650
11700
11750
11800
11850
11900
11950
12000
12050
12100
12150
12200
12250
12300
12350
12400
12450
12500
12550
12600
12650
12700
12750
12800
12850
12900
12950
13000
13050
13100
13150
13200
13250
13300
13350
13400
13450
13500
13550
13600
13650
13700
13750
13800
13850
13900
13950

In [8]:
df_2019 = pd.read_csv("2019.csv", encoding='cp1252')
df_2019.head()

,id,eventId,raceId,bib,bibForUrl,category,rank,genderRank,categoryRank,gunTime,...,speedInKmh,name,countryCode,activityType,gender,gunTimeInSec,chipTimeInSec,customValues,displayDistance,qualified
0,6391960528256574976,6386505967023513344,419161,32,32,MSR,1,1,1,02:05:44,...,0.0,Kenneth Kipkemoi,KE,0,1,7544,7544,[],42.195,False
1,6391960528256575232,6386505967023513344,419161,4,4,MSR,2,2,2,02:05:50,...,0.0,Abera Kuma,KE,0,1,7550,7550,[],42.195,False
2,6391960528256575488,6386505967023513344,419161,8,8,MSR,3,3,3,02:05:56,...,0.0,Kelkile Gezahegn,ET,0,1,7556,7556,[],42.195,False
3,6391960528256575744,6386505967023513344,419161,3,3,MSR,4,4,4,02:05:58,...,0.0,Laban Korir,KE,0,1,7558,7558,[],42.195,False
4,6391960528256576000,6386505967023513344,419161,5,5,MSR,5,5,5,02:07:22,...,0.0,Marius Kipserem,KE,0,1,7642,7642,[],42.195,False

In [9]:
df_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13997 entries, 0 to 13996
Data columns (total 22 columns):
id                    13997 non-null int64
eventId               13997 non-null int64
raceId                13997 non-null int64
bib                   13997 non-null object
bibForUrl             13997 non-null object
category              13997 non-null object
rank                  13997 non-null int64
genderRank            13997 non-null int64
categoryRank          13997 non-null int64
gunTime               13997 non-null object
chipTime              13997 non-null object
primaryDisplayTime    13997 non-null object
speedInKmh            13997 non-null float64
name                  13997 non-null object
countryCode           13997 non-null object
activityType          13997 non-null int64
gender                13997 non-null int64
gunTimeInSec          13997 non-null int64
chipTimeInSec         13997 non-null int64
customValues          13997 non-null object
displayDistance       13997 non-null float64
qualified             13997 non-null bool
dtypes: bool(1), float64(2), int64(10), object(9)
memory usage: 2.3+ MB

In [28]:
df_2019 = pd.read_csv("data/uitslagen_2019_test.csv", encoding='cp1252')
countrycodes = pd.read_csv("data/alpha2-3-countryiso.csv", delimiter=";")
#map 2-letter country names to 3-letter country names
s = countrycodes.set_index('Alpha-2 code')['Alpha-3 code']
df_2019['countryCode'] = df_2019['countryCode'].map(s)
df_2019.head()

,Unnamed: 0,name,bib,category,genderRank,rank,categoryRank,Guntime,Chiptime,name.1,...,split6,split6_time,split7,split7_time,split8,split8_time,split9,split9_time,split10,split10_time
0,1,Marius Kipserem,1,MSR,1,1,1,02:04:11,02:04:11,Marius Kipserem,...,25k,01:13:55,30k,01:28:38,35k,01:43:16,40k,01:57:52,Finish,02:04:11
1,2,Kaan Özbilen,6,MSR,2,2,2,02:05:27,02:05:26,Kaan Özbilen,...,25k,01:13:55,30k,01:28:44,35k,01:43:31,40k,01:58:45,Finish,02:05:26
2,3,Emanuel Saina,4,MSR,3,3,3,02:05:42,02:05:42,Emanuel Saina,...,25k,01:13:55,30k,01:28:37,35k,01:43:16,40k,01:58:42,Finish,02:05:42
3,4,Abdi Nageeye,12,MSR,4,4,4,02:06:17,02:06:17,Abdi Nageeye,...,25k,01:13:57,30k,01:28:55,35k,01:44:18,40k,01:59:44,Finish,02:06:17
4,5,Vincent Rono,8,MSR,5,5,5,02:07:10,02:07:09,Vincent Rono,...,25k,01:13:55,30k,01:28:38,35k,01:43:44,40k,01:59:48,Finish,02:07:09

In [38]:
#convert decimal time to minutes

# first convert string to seconds
#then rename splits 1-4 and 6 to 10 as 5,10,15,20, 25,30,35,40 and 42, Split 6 is half marathon time.
for i in range (1,11):
    x = str(i)
    if i == 5:
        df_2019['half']=df_2019['split'+x+'_time']*1440
    if i ==11:
        df_2019['distance_42KM_min']=df_2019['split'+x+'_time']*1440
    else:
        y = str(i*5)
        df_2019['distance'+y+'KM_min']=df_2019['split'+x+'_time']*1440

ValueError: invalid literal for int() with base 10: '01:13:55'

In [30]:
df_2019.head()

,Unnamed: 0,name,bib,category,genderRank,rank,categoryRank,Guntime,Chiptime,name.1,...,split1_min,split2_min,split3_min,split4_min,split5_min,split6_min,split7_min,split8_min,split9_min,split10_min
0,1,Marius Kipserem,1,MSR,1,1,1,02:04:11,02:04:11,Marius Kipserem,...,00:14:4800:14:4800:14:4800:14:4800:14:4800:14:...,00:29:3300:29:3300:29:3300:29:3300:29:3300:29:...,00:44:2200:44:2200:44:2200:44:2200:44:2200:44:...,00:59:0000:59:0000:59:0000:59:0000:59:0000:59:...,01:02:1701:02:1701:02:1701:02:1701:02:1701:02:...,01:13:5501:13:5501:13:5501:13:5501:13:5501:13:...,01:28:3801:28:3801:28:3801:28:3801:28:3801:28:...,01:43:1601:43:1601:43:1601:43:1601:43:1601:43:...,01:57:5201:57:5201:57:5201:57:5201:57:5201:57:...,02:04:1102:04:1102:04:1102:04:1102:04:1102:04:...
1,2,Kaan Özbilen,6,MSR,2,2,2,02:05:27,02:05:26,Kaan Özbilen,...,00:14:4900:14:4900:14:4900:14:4900:14:4900:14:...,00:29:3300:29:3300:29:3300:29:3300:29:3300:29:...,00:44:2100:44:2100:44:2100:44:2100:44:2100:44:...,00:58:5900:58:5900:58:5900:58:5900:58:5900:58:...,01:02:1601:02:1601:02:1601:02:1601:02:1601:02:...,01:13:5501:13:5501:13:5501:13:5501:13:5501:13:...,01:28:4401:28:4401:28:4401:28:4401:28:4401:28:...,01:43:3101:43:3101:43:3101:43:3101:43:3101:43:...,01:58:4501:58:4501:58:4501:58:4501:58:4501:58:...,02:05:2602:05:2602:05:2602:05:2602:05:2602:05:...
2,3,Emanuel Saina,4,MSR,3,3,3,02:05:42,02:05:42,Emanuel Saina,...,00:14:4700:14:4700:14:4700:14:4700:14:4700:14:...,00:29:3200:29:3200:29:3200:29:3200:29:3200:29:...,00:44:2100:44:2100:44:2100:44:2100:44:2100:44:...,00:58:5900:58:5900:58:5900:58:5900:58:5900:58:...,01:02:1601:02:1601:02:1601:02:1601:02:1601:02:...,01:13:5501:13:5501:13:5501:13:5501:13:5501:13:...,01:28:3701:28:3701:28:3701:28:3701:28:3701:28:...,01:43:1601:43:1601:43:1601:43:1601:43:1601:43:...,01:58:4201:58:4201:58:4201:58:4201:58:4201:58:...,02:05:4202:05:4202:05:4202:05:4202:05:4202:05:...
3,4,Abdi Nageeye,12,MSR,4,4,4,02:06:17,02:06:17,Abdi Nageeye,...,00:14:5000:14:5000:14:5000:14:5000:14:5000:14:...,00:29:3400:29:3400:29:3400:29:3400:29:3400:29:...,00:44:2300:44:2300:44:2300:44:2300:44:2300:44:...,00:59:0200:59:0200:59:0200:59:0200:59:0200:59:...,01:02:1701:02:1701:02:1701:02:1701:02:1701:02:...,01:13:5701:13:5701:13:5701:13:5701:13:5701:13:...,01:28:5501:28:5501:28:5501:28:5501:28:5501:28:...,01:44:1801:44:1801:44:1801:44:1801:44:1801:44:...,01:59:4401:59:4401:59:4401:59:4401:59:4401:59:...,02:06:1702:06:1702:06:1702:06:1702:06:1702:06:...
4,5,Vincent Rono,8,MSR,5,5,5,02:07:10,02:07:09,Vincent Rono,...,00:14:4700:14:4700:14:4700:14:4700:14:4700:14:...,00:29:3200:29:3200:29:3200:29:3200:29:3200:29:...,00:44:2100:44:2100:44:2100:44:2100:44:2100:44:...,00:58:5900:58:5900:58:5900:58:5900:58:5900:58:...,01:02:1601:02:1601:02:1601:02:1601:02:1601:02:...,01:13:5501:13:5501:13:5501:13:5501:13:5501:13:...,01:28:3801:28:3801:28:3801:28:3801:28:3801:28:...,01:43:4401:43:4401:43:4401:43:4401:43:4401:43:...,01:59:4801:59:4801:59:4801:59:4801:59:4801:59:...,02:07:0902:07:0902:07:0902:07:0902:07:0902:07:...

In [15]:
df_2019.rename(columns={'Leader': 'Commander',
                       
                       
                       
                       
                       
                       }, inplace=True)